body{
  background: gray;
    color:white;
}
ul.menu {
    width: 100%;
    background: yellow;
}
ul > li {
    display: inline;
    margin: 33px;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}
