<!DOCTYPE html>
<html>
<head>
  <title>Flask app</title>
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/jq.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
 
  <div class="container">
    {% block content %}
    {% endblock %}
	
  </div>
</body>
