<!DOCTYPE html>
<html>
<head>
  <title>Flask app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <script src="{{ url_for('static', filename='js/jq.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <ul class="menu">
          <li>
            <a href="{{ url_for('home') }}">Sākumlapa</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
	
  </div>
</body>
